{# footer start here #}
  <footer>
    <div class="wrapper">
    <h3 class="footer-heading">Do you Have Any Doubts?..Then Reach Out Us.</h3>
    <ul class="social-list">
      <li class="social-item">
        <a href="#FIXME" class="icon facebook " title="Facebook">Facebook</a>
      </li>
      <li class="social-item">
        <a href="#FIXME" class="icon twitter " title="Twitter">twitter</a>
      </li>
      <li class="social-item">
        <a href="#FIXME" class="icon instagram" title="Instagram">Instagram</a>
      </li>
      <li class="social-item">
        <a href="#FIXME" class="icon linkedin" title="Linkedin">linkedin</a>
      </li>
    </ul>
    <p class="copy">Copyright &#169; All rights reserved.</p>
    </div>
  </footer>
  {# footer end here #}