{# header start here #}
<header>
  <div class="wrapper">
    <h1 class="logo">
        <a href="#FIXME" class="logo-link" title="PockyMon">
            <img src="/image/logo.png" alt="Logo Image">
        </a>
    </h1>
 <nav class="navbar">
  <ul class="nav-list">
    <li class="list-item">
      <a href="/" class="nav-link active" title="Home">Home</a>
    </li>
    <li class="list-item">
          <a href="/pockymon/" class="nav-link" title="PockyMon List">PockyMon List</a>
    </li>
    <li class="list-item">
          <a href="/about/" class="nav-link" title="About">About</a>
    </li>
  </ul>
 </nav>
 </div>
 </header>
 {# header end here #}