---
title: About
layout: layouts/base.njk  
pagination:
    data: script
    size: 12
    alias: script 
--- 
<section class="pock">
 <div class="wrapper">  
    <h2 class="heading">This Our PokiMons List</h2>
    <ul class="pock-list">
    {% for data in script %}
    <li class="pock-item">
        <h2 class="pock-heading">{{data.name}}</h2> 
    </li>
    {% endfor %}
    </ul>
    <ul class="btn-ctrl">
    <li>
    {% if pagination.href.previous %}
        <a class = "prev" href="{{pagination.href.previous}}">previous</a>
    {%endif%}
    </li>
    {%- for page in pagination.pages %}
     <li>
        <a  class="btn-link" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}> {{ loop.index }}</a>
    </li>
    {%- endfor %}
    <li>{% if pagination.href.next %}
        <a class="next" href="{{pagination.href.next}}">Next</a>
    {%endif%}
    </li>
    </ul>
    </div>
</section>

